{% extends 'base.html' %}

{% block head %}
<title>Edit Page</title>
{% endblock %}

{% block body %}
<h1>New Page</h1>
<hr>
    <h2>Create New Blog Post</h2>
    <form action="/posts/new"  method="POST">
        Title :
        <input class="form-control" type="text" name="title" id="title"  aria-label="Enter Title"/>
        <br>
        Content :
        <textarea class="form-control" rows="5" name="content" id="content"> </textarea>
        <br>
        Author :
        <input class="form-control" type="text" name="author" id="author"/>
        <br>
        <input class="btn btn-primary" type="submit" value="Save">

    </form>
<hr>
{% endblock %}
